@import "tailwindcss";

@layer utilities {
  .uiverse-card {
    background: rgb(223, 225, 235);
    overflow: hidden;
    border-radius: 20px;
    box-shadow:
      inset 0px 56px 40px #2224,
      inset 0px -56px 40px #fff,
      1px 1px 2px #fff,
      -1px -1px 2px #4442;
  }

  .uiverse-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300%;
    height: 100%;
    transform: translateX(0%);
    animation: uiverse-anim 6s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .uiverse-word {
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    text-align: center;
    color: #333;
  }
}

@keyframes uiverse-anim {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-33.333%);
  }
  70% {
    transform: translateX(-33.333%);
  }
  80% {
    transform: translateX(-66.666%);
  }
  100% {
    transform: translateX(-66.666%);
  }
}